<footer class="navbar">

    <a routerLink="/app/inicio">
        <button id="homebtn">
            <img src="Img/003-home.png" alt="">
            <label>Home</label>
        </button>
    </a>
    
    <a routerLink="/app/compraIngredientes">
        <button id="shoppingbtn">
            <img src="Img/001-shopping.png" alt="">
            <label>Compras</label>
        </button>
    </a>

    <a routerLink="/app/nuevaReceta">
        <button id="uploadbtn">
            <img src="Img/002-add.png" alt="">
            <label>Subir</label>
        </button>
    </a>

     <a routerLink="/app/calendarioRecetas">
        <button id="menubtn">
            <img src="Img/005-calendar.png" alt="">
            <Label>Menu</Label>
        </button>
    </a>

    <a routerLink="/app/usuario">
        <button id="profilebtn">
            <img src="Img/006-profile.png" alt="">
            <Label>Perfil</Label>
        </button>
    </a>  
</footer>
