<header>
  <nav>
    <form id="searchbar">
      <div class="logo">
        <a href="/app/inicio"><img src="Img/RecetappLogo.webp" alt=""></a>
      </div>

      <div class="searchContainer">
        <input type="search" placeholder="Buscar Recetas..." 
        [(ngModel)]="search" (input)="guardarBusqueda()"
        name="search">

        <button type="submit">
          <img src="Img/004-search.png">
        </button>

        <button type="button" (click)="abrirFiltro()">
          <img src="Img/002-filter.png">
        </button>
      </div>
    </form>
  </nav>
</header>

<!-- MODAL -->
<div *ngIf="isOpen" class="modal-container">
  <div class="overlay" (click)="cerrarFiltro()"></div>

  <div class="modal-content">
    <h3>Filtros</h3>

    <div class="radio-group">
      <label><input type="radio" name="modo" [value]="1" [(ngModel)]="filterValue"> Flexible</label>
      <label><input type="radio" name="modo" [value]="2" [(ngModel)]="filterValue"> Estricto</label>
      <label><input type="radio" name="modo" [value]="3" [(ngModel)]="filterValue"> Solo selección</label>
      <label><input type="radio" name="modo" [value]="4" [(ngModel)]="filterValue"> Por Etiqueta</label>
      <input type="radio" name="modo" [value]="0" [(ngModel)]="filterValue" hidden>
    </div>

    <hr>

    <section [class.disabled-section]="filterValue === 4 || filterValue === 0">
        <p><strong>Por Ingrediente</strong></p>
        <div class="search-mini">
            <input type="search" placeholder="Buscar ingredientes..."
               [(ngModel)]="searchI"
               [disabled]="filterValue === 4 || filterValue === 0">
            <button type="button" [disabled]="filterValue === 4 || filterValue === 0">
                <img src="../../Img/004-search.png">
            </button>
            <button type="button" [disabled]="filterValue === 4 || filterValue === 0" (click)="deselectI()">
              <img src="../../Img/x.png">
            </button>
        </div>

        <div class="chip-container">
          <span class="chip"
              *ngFor="let ing of ingredientesFiltrados"
              [class.selected]="ing.selected"
              [class.not-allowed]="filterValue === 4 || filterValue === 0"
              (click)="(filterValue !== 4 && filterValue !== 0) && toggleIngrediente(ing)">
            {{ ing.nombre }}
          </span>
        </div>
        <p class="no-results-label" *ngIf="ingredientesFiltrados.length === 0 && searchI">
            No se encontraron ingredientes para "{{ searchI }}"
        </p>
    </section>

    <hr>
    <section [class.disabled-section]="filterValue !== 4">
          <p><strong>Por Etiqueta</strong></p>
          <div class="search-mini">
            <input type="search" placeholder="Buscar etiquetas..." 
               [(ngModel)]="searchE" name="searchE"
               [disabled]="filterValue !== 4">
            <button type="button" [disabled]="filterValue !== 4">
                <img src="../../Img/004-search.png">
            </button>
            <button type="button" [disabled]="filterValue !== 4" (click)="abrirModalE()">
                <img src="../../Img/002-add.png">
            </button>
            <button type="button" [disabled]="filterValue !== 4" (click)="deselectE()">
                <img src="../../Img/x.png">
            </button>
        </div>
        <div class="chip-container">
            <span class="chip"
                *ngFor="let tag of etiquetasFiltradas"
                [class.selected]="tag.selected"
                [class.not-allowed]="filterValue !== 4"
                (click)="filterValue === 4 && toggleEtiqueta(tag)">
            {{ tag.nombre }}
            </span>
        </div>
        <p class="no-results-label" *ngIf="etiquetasFiltradas.length === 0 && searchE">
          No se encontraron etiquetas para "{{ searchE }}"
        </p>
    </section>

    <button class="btn-aplicar" (click)="aplicarFiltro()">
      Aplicar
    </button>
  </div>
</div>

<!-- MODAL INGREDIENTE -->
<div *ngIf="isOpenI" class="modal-container">

  <div class="overlay" (click)="cerrarModalI()"></div>

  <div class="modal-content modal-small">
    <h3>Nuevo Ingrediente</h3>

    <form (submit)="$event.preventDefault()">
      <input type="text" placeholder="Ingrediente..." 
      class="input-modal" [(ngModel)]="nombreI" name="nombreI">

      <div class="modal-actions">
        <button type="submit" class="btn-aplicar" (click)="agregarIngrediente()">
          Agregar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- MODAL ETIQUETA -->
<div *ngIf="isOpenE" class="modal-container">

  <div class="overlay" (click)="cerrarModalE()"></div>

  <div class="modal-content modal-small">
    <h3>Nueva Etiqueta</h3>

    <form (submit)="$event.preventDefault()">
      <input type="text" placeholder="Etiqueta..." 
      class="input-modal" [(ngModel)]="nombreE" name="nombreE"
>

      <div class="modal-actions">
        <button type="submit" class="btn-aplicar" (click)="agregarEtiqueta()">
          Agregar
        </button>
      </div>
    </form>
  </div>
</div>