<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbarSyles.css">
    <title></title>
</head>
<body>
    <footer class="navbar">

    <button>
    <img src="../../Img/RecetappLogo.webp" alt="">
    <label>Home</label>
    </button>

    <button>
    <img src="../../Img/RecetappLogo.webp" alt="">
    <label>Compras</label>
    </button>

    <button>
    <img src="../../Img/RecetappLogo.webp" alt="">
    <label>Subir</label>
    </button>

    <button>
    <img src="../../Img/RecetappLogo.webp" alt="">
    <Label>Menu</Label>
    </button>

    <button>
    <img src="../../Img/RecetappLogo.webp" alt="">
    <Label>Perfil</Label>
    </button>

    </footer>
</body>
</html>