<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbarSyles.css">
    <script src="navbrScripts.js" defer></script>
</head>
<body>
    <footer class="navbar">

    <button id="homebtn">
    <img src="/RecetApp/App/Img/003-home.png" alt="">
    <label>Home</label>
    </button>

    <button id="shoppingbtn">
    <img src="/RecetApp/App/Img/001-shopping.png" alt="">
    <label>Compras</label>
    </button>

    <button id="uploadbtn">
    <img src="/RecetApp/App/Img/002-add.png" alt="">
    <label>Subir</label>
    </button>

    <button id="menubtn">
    <img src="/RecetApp/App/Img/005-calendar.png" alt="">
    <Label>Menu</Label>
    </button>

    <button id="profilebtn">
    <img src="/RecetApp/App/Img/006-profile.png" alt="">
    <Label>Perfil</Label>
    </button>

    </footer>
</body>
</html>